/tests export-ignore
/.github export-ignore
/resources/pp/*.pp export-ignore
.envrc export-ignore
phpunit.xml.dist export-ignore
psalm.xml export-ignore
phpcs.xml export-ignore
behat.yml export-ignore
.gitignore export-ignore
.gitattributes export-ignore
composer.lock export-ignore
.scrutinizer.yml export-ignore
.github export-ignore
.editorconfig export-ignore
build.php export-ignore
