<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd" 
    colors="true" 
    beStrictAboutChangesToGlobalState="true" 
    beStrictAboutOutputDuringTests="false" 
    beStrictAboutTestsThatDoNotTestAnything="true" 
    cacheDirectory=".phpunit.cache" 
    requireCoverageMetadata="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/src/</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="On"/>
        <ini name="log_errors" value="0"/>
        <ini name="memory_limit" value="-1"/>
    </php>

    <logging/>

    <source>
        <include>
            <directory>src/</directory>
        </include>
    </source>
</phpunit>
